<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jjxx.modules.medicalevaluation.mapper.MedicalEvaluationMapper" >

  <sql id="Base_Column_List" >
    t.id,
    t.create_by AS "createBy.id",
    u.realname as "createByName",
    t.create_date,
    t.update_by AS "updateBy.id",
    up.realname as "updateByName",
    t.update_date,
    t.del_flag,
    t.remarks,
    t.origin_eva,
    t.sys_frontUI,
    t.sys_backstage,
    t.sys_predict,
    t.sys_config,
    t.staff_id,
    t.org_id,
    (SELECT COUNT(1) FROM sys_attachment WHERE bill_id=t.id) AS evaAttach,
    ss.`code` as staffNumber
  </sql>
  
  <!-- 关联职员信息 -->
  <sql id="leftJoinStaff">
  		left join sys_staff ss on ss.id = t.staff_id
  		LEFT JOIN sys_user u on t.create_by=u.id<!-- 关联用户信息 -->
		LEFT JOIN sys_user up on t.update_by=up.id
  </sql>
  
   <select id="selectPage" resultType="MedicalEvaluation">
		SELECT
	    t.id,
	    t.create_by AS "createBy.id",
	    u.realname as "createByName",
	    t.create_date,
	    t.update_by AS "updateBy.id",
	    up.realname as "updateByName",
	    t.update_date,
	    t.del_flag,
	    t.remarks,
	    t.origin_eva,
	    t.sys_frontUI,
	    t.sys_backstage,
	    t.sys_predict,
	    t.sys_config,
	    s.`code` AS "staff_id",
	    t.org_id,
	    (SELECT COUNT(1) FROM sys_attachment WHERE bill_id=t.id) AS evaAttach
		FROM medical_evaluation t
		LEFT JOIN sys_user u on (t.create_by = u.id)
		LEFT JOIN sys_user up on (t.update_by = up.id) 
		LEFT JOIN sys_staff s on (u.staff_id = s.id)
	<where>
		${ew.sqlSegment} 
	</where>
 	</select>
  
  	<!-- 根据Id,获取单条测评信息 -->
	<select id="selectById" resultType="MedicalEvaluation">
		select <include refid="Base_Column_List"/> from 
		medical_evaluation t 
		<include refid="leftJoinStaff"/>
		where t.id = #{id}
	</select>
  
  <!-- 批量删除（数据伪删除Sql）重写删除方法，该方法名*id与mybatis层的方法名称一样，所以只需要写xml文件即可 -->
	<update id = "deleteBatchIds" parameterType="java.util.List" >
	   UPDATE medical_evaluation SET del_flag='1' WHERE  id IN
	     <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
	          #{item}  
	      </foreach>
	</update>
	
	<!-- 单条记录删除（数据伪删除Sql）重写删除方法，该方法名*id与mybatis层的方法名称一样，所以只需要写xml文件即可 -->
	<update id = "deleteById" parameterType="java.util.List" >
	   UPDATE medical_evaluation SET del_flag='1' WHERE  id=#{id}
	</update>
  
</mapper>