<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jjxx.modules.ms.mapper.MedicalSampleMapper" >

  <sql id="Base_Column_List" >
    t.id,
    t.del_flag,
    t.register_fee,
    t.medical_fee,
    t.treatment_fee,
    t.hospital_fee,
    t.other,
    t.personal_fee,
    t.org_id
  </sql>

  <select id="selectPage" resultType="MainMedicalInfo">
		SELECT
	    t.id,
	    t.del_flag,
	    t.register_fee,
	    t.medical_fee,
	    t.treatment_fee,
	    t.hospital_fee,
	    t.other,
	    t.personal_fee,
	    t.org_id
		FROM medical_sample t
	<where>
		${ew.sqlSegment} 
	</where>
 	</select>
  
  <!-- 批量删除（数据伪删除Sql）重写删除方法，该方法名*id与mybatis层的方法名称一样，所以只需要写xml文件即可 -->
	<update id = "deleteBatchIds" parameterType="java.util.List" >
	   UPDATE medical_sample SET del_flag='1' WHERE  id IN
	     <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
	          #{item}  
	      </foreach>
	</update>
  
   <!-- 单条记录删除（数据伪删除Sql）重写删除方法，该方法名*id与mybatis层的方法名称一样，所以只需要写xml文件即可 -->
	<update id = "deleteById" parameterType="java.util.List" >
	   UPDATE medical_sample SET del_flag='1' WHERE  id=#{id}
	</update>
  
   <!-- 根据Id,获取单条日志信息 -->
	<select id="selectById" resultType="MedicalSample">
		select <include refid="Base_Column_List"/> from 
		medical_sample t where t.id = #{id}
	</select>
  
</mapper>